[data-page="home"] {
  /* ACTIONS */
  .actions-area {
    display: flex;

    &:has(.toggle) {
      justify-content: center;
      margin-block-start: calc(var(--spacing) * 6);
    }

    .action {
      display: flex;
      align-items: center;
      height: calc(var(--spacing) * 10);
      transition: color var(--default-transition-duration)
        var(--default-transition-timing-function);
      border: none;
      background-color: transparent;
      color: var(--color-muted-foreground);
      cursor: pointer;
      gap: calc(var(--spacing) * 2);

      & > svg {
        flex-shrink: 0;
        width: calc(var(--spacing) * 4);
        height: calc(var(--spacing) * 4);
        transition: rotate 0.3s ease-out;
        pointer-events: none;
      }

      &[data-state="open"] {
        & > svg {
          rotate: -180deg;
        }
      }

      &:hover {
        color: var(--color-foreground);
      }
    }
  }

  /* SECTIONS */
  .sections-area {
    display: grid;
    filter: blur(0);
    grid-template-rows: 1fr;
    transition: all 0.3s ease-in-out;

    &[data-state="closed"] {
      filter: blur(5px);
      grid-template-rows: 0fr;
    }

    .area-wrapper {
      display: grid;
      margin-block-start: calc(var(--spacing) * 14);
      overflow-y: hidden;
      gap: calc(var(--spacing) * 16);

      .head {
        padding-block: calc(var(--spacing) * 4);
        border-block-end: 1px solid var(--color-border);

        .title {
          font-size: var(--text-xl);
          line-height: var(--text-xl--line-height);
          text-transform: uppercase;
        }
      }

      .items {
        display: grid;
        gap: calc(var(--spacing) * 5);
        padding-block: calc(var(--spacing) * 4);

        &:has(.social-link) {
          display: flex;
          justify-content: space-between;
        }

        & > li {
          display: grid;
          gap: calc(var(--spacing) * 5);

          &:not(:last-child, :has(.social-link)) {
            padding-block-end: calc(var(--spacing) * 4);
            border-block-end: 1px solid var(--color-border);
          }

          .title {
            .link {
              margin-inline-start: var(--spacing);
              color: var(--color-muted-foreground);
              font-size: var(--text-sm);
              line-height: var(--text-sm--line-height);
            }

            &:has(.show-detail) {
              display: flex;
              justify-content: space-between;
            }
          }

          .main-info {
            color: var(--color-muted-foreground);
            font-size: var(--text-sm);
            line-height: var(--text-sm--line-height);
          }

          .secondary-info {
            &:has(.icon) {
              display: flex;
              gap: calc(var(--spacing) * 4);
              margin-block-start: calc(var(--spacing) * 2);

              .icon svg {
                width: calc(var(--spacing) * 5);
                height: calc(var(--spacing) * 5);
              }
            }
          }

          .core-info {
            display: grid;
            margin-inline-start: calc(var(--spacing) * 6);
            font-size: var(--text-sm);
            line-height: var(--text-sm--line-height);
            list-style: disc;
            gap: var(--spacing);
            text-align: justify;
          }

          .social-link {
            display: flex;
            align-items: center;
            gap: calc(var(--spacing) * 2);
            color: var(--color-muted-foreground);
            font-size: var(--text-sm);
            line-height: var(--text-sm--line-height);

            & > *:first-child {
              width: calc(var(--spacing) * 4);
              height: calc(var(--spacing) * 4);
            }
          }
        }
      }
    }
  }
}

/* Responsive */
@media (width <= 769px) {
  [data-page="home"] {
    .sections-area {
      .area-wrapper {
        .head {
          .title {
            font-size: var(--text-lg);
            line-height: var(--text-lg--line-height);
          }
        }
      }
    }
  }
}
